.Profile{
    /* relative kodetha maathre background le blur div ne mukalilaayitte ellam kaanan kazhiyyu. */
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
}
.Profilecenter{
    display:  flex;
    flex-direction: column;
    gap: 1rem;
}